<div *ngIf="intern">
  <div>
    <label>Id: </label> {{intern.id}}
  </div>
  <div>
    <label>Surname: </label> {{intern.surname}}
  </div>
  <div>
    <label>Name: </label> {{intern.name}}
  </div>
  <div>
    <label>Adress: </label> {{intern.adress}}
  </div>
  <div>
    <label>Contact: </label> {{intern.contact}}
  </div>
  <div>
    <label>Trainer: </label> {{intern.trainer}}
  </div>
  <div>
    <label>Computer: </label> {{intern.computer}}
  </div>
  <div>
    <label>Formation: </label> {{intern.formation}}
  </div>
  </div>
