<div *ngIf="technician">
  <div>
    <label>Id: </label> {{technician.id}}
  </div>
  <div>
    <label>Surname: </label> {{technician.surname}}
  </div>
  <div>
    <label>Name: </label> {{technician.name}}
  </div>
  <div>
    <label>Adress: </label> {{technician.adress}}
  </div>
  <div>
    <label>Contact: </label> {{technician.contact}}
  </div>
  <div>
    <label>Password: </label> {{technician.password}}
  </div>
  <div>
    <label>Username: </label> {{technician.username}}
  </div>
  </div>