<div *ngIf="gestionnaire">
  <div>
    <label>Id: </label> {{gestionnaire.id}}
  </div>
  <div>
    <label>Surname: </label> {{gestionnaire.surname}}
  </div>
  <div>
    <label>Name: </label> {{gestionnaire.name}}
  </div>
  <div>
    <label>Adress: </label> {{gestionnaire.adress}}
  </div>
  <div>
    <label>Contact: </label> {{gestionnaire.contact}}
  </div>
  <div>
    <label>Password: </label> {{gestionnaire.password}}
  </div>
  <div>
    <label>Username: </label> {{gestionnaire.username}}
  </div>
  </div>