<section id="container">
		<!-- Top bar
        ************************************************************************************************************************ -->

		<header class="header black-bg">
			<a href="formateur.html" class="logo"><span>The Factory</span></a>
			<div class="nav notify-row" id="top_menu"></div>
			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" href="login.html">Logout</a></li>
				</ul>
			</div>
		</header>

		<!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse ">
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">
					<p class="centered">
						<a href="profile.html"><img src="img/user.png"
							class="img-circle" width="80"></a>
					</p>
					<h5 class="centered">Bienvenue XXX</h5>
					<li class="mt"><a class="active" href="formateur.html"> <i
							class="fa fa-home"></i> <span>Accueil</span>
					</a></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-edit"></i> <span>Mise à jour profil</span>
					</a>
						<ul class="sub">
							<li><a href="info_persos_form.html">Informations
									personelles</a></li>
							<li><a href="adresse_form.html">Adresse</a></li>
							<li><a href="coordonnees_form.html">Coordonnées</a></li>
							<li><a href="matieres.html">Matières</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-calendar-o"></i> <span>Disponibilités</span>
					</a>
						<ul class="sub">
							<li><a href="disponibilites.html">Mise à jour</a></li>
						</ul></li>
					<li class="sub-menu"><a href="javascript:;"> <i
							class="fa fa-calendar"></i> <span>Planning</span>
					</a>
						<ul class="sub">
							<li><a href="planning_formateur.html">Affichage planning</a></li>
						</ul></li>

				</ul>

				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->
		<!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-9 main-chart"></div>
					<!--custom chart end-->
					<div class="row mt"></div>
				</div>

				<!--               *************************************************************************************************************************** -->
				info_persos
			</section>
		</section>

	</section>
