<div *ngIf="trainer">
  <div>
    <label>Id: </label> {{trainer.id}}
  </div>
  <div>
    <label>Surname: </label> {{trainer.surname}}
  </div>
  <div>
    <label>Name: </label> {{trainer.name}}
  </div>
  <div>
    <label>Adress: </label> {{trainer.adress}}
  </div>
  <div>
    <label>Contact: </label> {{trainer.contact}}
  </div>
  <div>
    <label>Password: </label> {{trainer.password}}
  </div>
  <div>
    <label>Username: </label> {{trainer.username}}
  </div>
  <div>
    <label>Subjects: </label> {{trainer.subjects}}
  </div>
  </div>
